.homepage {
  position: relative;
  height: 100%;
  width: 100%;
}
.homepage .anchor-bar {
  background-color: white;
  position: relative;
  top: 5%;
  left: 2%;
  width: 92%;
}
.homepage .hot-title {
  position: relative;
  top: 5%;
  left: 5%;
  margin-bottom: 5%;
}
.homepage .hot {
  position: relative;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  column-gap: 15px;
}
.homepage .recommand {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: wrap-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 20%;
  top: 20%;
  width: 80%;
  left: 10%;
  height: 30%;
}
.homepage .recommand-carousel {
  width: 80%;
  height: 30%;
  position: relative;
}
.homepage .past-menus {
  position: relative;
  top: 5%;
  left: 5%;
  margin-bottom: 5%;
}
